{% extends 'books/base.html' %}

{% block pagetitle %}
	OWC :: {{ book.title }} ({{ book.volume}})
{% endblock %}

{% block content %}
<h1>{{ book.title }}</h1>

{% if book.edition_set.all %}

<ul>
{% for edition in book.edition_set.all %}
    <li>{{ edition.year }}, {{ edition.book.title }}
    	<ul>
    	{% if edition.instance_set.all %}
    	{% for instance in edition.instance_set.all %}
    		<li>{{ instance.condition }}</li>
    	
    	{% endfor %}
    	{% else %}
    		<li>No copies of this item in collection</li>
    	{% endif %}
    	</ul>
    </li>
{% endfor %}
</ul>

{% else %}
	<p>No editions of this book in collection</p>
	
{% endif %}
{% endblock %}