{% extends 'books/base.html' %}

{% block pagetitle %}
	OWC :: Book Index
{% endblock %}

{% block content %}
{% if latest_book_list %}
    <table >
    	<tr>
    		<th>Vol.</th>
    		<th>Title</th>
    		<th>Author</th>
    		<th></th>
    		<th></th>
    	</tr>
    {% for thisbook in latest_book_list %}
        <tr>
        	<td style="text-align: right">{{thisbook.volume}}</td>
        	<td><a href="{% url 'books:detail' thisbook.id %}">{{ thisbook.title }}</a></td>
        	<td><a href="#">[{#{ thisbook.) }}]</a></td>
        	<td><a href="{% url 'books:edit' thisbook.id %}">edit</a> | 
        	<a href="{% url 'books:update' thisbook.id %}">update</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No books are available.</p>
{% endif %}

<p>Add a <a href="{% url 'books:add' %}">new book</a></p>
{% endblock %}