{% extends 'books/base.html' %}

{% block pagetitle %}
	OWC :: Book Index
{% endblock %}

{% block content %}
{% if book_list %}
    <table >
    	<tr>
    		<th>Vol.</th>
    		<th>Title</th>
    		<th>Author</th>
    		<th span="2">Actions</th>
    		
    	</tr>
    {% for this_book in book_list %}
        <tr>
        	<td style="text-align: right">{{this_book.volume}}</td>
        	<td><a href="{% url 'books:detail' this_book.id %}">{{ this_book.title }}</a></td>
        	{% if person_list %}
        		{% for this_person in person_list %}
        			<td><a href="#">{{this_person.person}}</a></td>
        		{% endfor %}
        	{% else %}
        		<td>none</td>
        	{% endif %}
        	<td><a href="{% url 'books:edit' this_book.id %}">edit</a> | 
        	<a href="{% url 'books:update' this_book.id %}">update</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No books are available.</p>
{% endif %}

<p>Add a <a href="{% url 'books:add' %}">new book</a></p>
{% endblock %}